.tabs {
    font-family: arial;
    margin: 0 auto;
    width: 70%;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0.845026px 2.53508px 10.1403px rgba(0, 0, 0, 0.03);
    border-radius: 6.76021px;

}

.tabs img {
    width: 300px;
}

.tabs .tab-buttons {
    margin-bottom: 15px;
    border-bottom: 1px solid #EBEBEB;
}

.tab-content span {
    font-weight: bold;
    color: #507FF9;
    font-size: 15px;
    padding-left: 20px;;
    margin: 30px 0;
}

.tab-content p {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 20px;
}

.tab-buttons button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #507FF9;
    margin: 0 20px;


}

.tabs button {
    background: transparent;
    border: none;
    outline: none;
    padding: 10px 0;
    cursor: pointer;
    color: rgba(0, 0, 0, .4);
    transition: all ease-in-out .2s;
    border-bottom: 2px solid transparent;
    padding: 20px 0
}

.tabs .span {
    float: right;
    margin-right: 12px;
    margin-top: 8px;
    text-align: center;
    display: inline-block;
    width: 20px;
    border-radius: 4px;
    color: #2e2e2e;
    text-decoration: none;

}

.tabs .active {
    border-bottom: 3px solid #507FF9;
    color: #507FF9;
}